@import url('https://fonts.googleapis.com/css2?family=Asap&family=BIZ+UDGothic&family=Caveat&display=swap');

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 3em;
    font-weight: 800;
    margin: 15px 0px;
}

h2 {
    font-family: 'Caveat', cursive;
    font-size: 2.2em;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    text-decoration: underline;
}

svg {
    fill: white;
}

.header,
.about-me,
.projects, 
.contact-form,
.footer {
    display: flex;
    justify-content: center;
    padding: 0 15% 0 15%;
}

.header,
.footer {
    color: white;
    background-color: #1770ff;
}

.footer {
    margin-top: auto;
}

.nav {
    font-weight: 450;
    display: flex;
    list-style-type: none;
    margin-left: auto;
    align-items: center;
    gap: 35px;
}

/* Home page */

.about-me {
    flex-direction: column;
    align-items: center;
    gap: 3%;
}

.intro,
.previous-experience,
.non-work {
    display: flex;
}

.previous-experience {
    background-color: lightgrey;
}

.picture {
    margin-right: auto;
    padding: 3% 0;
    width: 30%;
}

.biography-1 {
    flex: 1;
    padding: 1em 0 0 2em;
}

.biography-2 {
    flex: 1;
    padding: 0 2em 1em 2em;
}

.biography-3 {
    flex: 1;
    padding: 0 0 3em 2em;
}

#profile-picture {
    width: 100%;
    height: auto;
}

#banking-photo {
    padding-right: 0.5em;
    width: 90%;
    height: auto;
}

.footer {
    list-style-type: none;
    padding: 1%;
    gap: 10%;
}

.icons {
    height: 35px;
    width: auto;
}

/* Projects page */

.projects {
    flex-direction: column; 
}

.project-cards {
    display: flex;
    gap: 8%;    
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    width: calc((100% - 18%) / 3);
    height: auto;
}

.project-preview {
    width: 100%;
    height: auto;
}

/* Contact me page  */

form {
    width: 45%;
    height: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
}

.form-row input,
.form-row textarea {
    width: 100%;
    height: auto;
}

.message-form li {
    list-style-type: none;
    padding: 0.25em;
    font-weight: 600;
}

#message {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.25em;
}

#message-box {
    width: 100%;
}

#submit-button {
    margin: 0 auto;
    display: block;
}

/* Media queries */
/* to do: screenshots, deploy on github pages */

/* For phones */
@media (max-width: 576px) {
    .header,
    .about-me,
    .projects, 
    .contact-form,
    .footer {
        padding: 3% 10% 0 10%;
    }

    .footer {
        padding-bottom: 3%;
    }

    /* Home page */

    .intro,
    .previous-experience,
    .non-work {
        display: block;
    }

    .picture {
        width: 70%;
        margin-left: auto;
    }

    .biography-1 {
        padding: 0 0 10% 0;
    }

    .previous-experience {
        padding-bottom: 3%;
    }

    /* Projects page */

    .projects {
        padding-top: 0;
        padding-bottom: 8%;
        justify-content: center;
    }

    .project-cards {
        flex-direction: column;
    }

    .project-card {
        width: 100%;
    }

    /* Contact me page */

    form {
        width: 80%;
    }
}

/* For tablets */
@media (max-width: 768px) and (min-width: 577px) {
    .header,
    .about-me,
    .projects, 
    .contact-form,
    .footer {
        padding: 3% 10% 0 10%;
    }

    .header {
        padding-top: 0%;
    }

    .footer {
        padding-bottom: 3%;
    }

    /* Home page */

    .intro,
    .previous-experience,
    .non-work {
        display: block;
    }

    .picture {
        width: 50%;
        margin-left: auto;
    }

    .biography-1 {
        padding: 0 0 10% 0;
    }

    .previous-experience {
        padding-bottom: 3%;
    }

    /* Projects page */

    .projects {
        padding-top: 0;
        padding-bottom: 5%;
    }
    
    .project-cards {
        flex-wrap: wrap;
    }

    .project-card {
        width: calc((100% - 8%) / 2);
        height: auto;
    }

    /* Contact me page */

    form {
        width: 60%;
    }
}